[submodule "libs/sokol"]
	path = libs/sokol
	url = https://github.com/floooh/sokol.git
[submodule "tools/sokol-tools-bin"]
	path = tools/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin.git
[submodule "libs/druntime"]
	path = libs/druntime
	url = https://github.com/skoppe/druntime.git
	branch = wasm
[submodule "subprojects/bettercmath"]
	path = subprojects/bettercmath
	url = https://github.com/gilzoide/bettercmath.git
[submodule "subprojects/glfw"]
	path = subprojects/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "subprojects/glad"]
	path = subprojects/glad
	url = https://github.com/Dav1dde/glad.git
